h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;

  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;

  text-align: center;
  padding-top: 30px;
  padding-bottom: 250px;
}

div.Welcome {
  background-image: url('images/ImageBackGnd.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 468px) {
  .Welcome h1 {
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: left;
  }

  .Welcome h2 {
    font-size: 13px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 15px;
    text-align: left;
  }
}

div.container {
  padding-top: 20px;
  margin-bottom: 75px;
}

div.step {
  padding-bottom: 15px;
}

div.row {
  text-align: center;
}

h3 {
  color: #00008b;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  text-align: center;
}

b {
  color: #00008b;
  font-style: normal;
  font-weight: 450;
  font-size: 15px;

  text-align: center;
}

p {
  color: #0000ff;
  font-size: 10px;

  padding-top: 5px;
}

.btn {
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
