<%- contentFor('title') %>Home
<%- contentFor('body') %>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Welcome to SF Dreamer</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <p>Welcome to SF Dreamer! Follow the steps below to learn more about the Dream Act and figure out what to do.</p>
                <!-- <input type="text" class="form-control form-control-lg" placeholder="Enter a restautant..."> -->
              </div>
              <div class="col-12 col-md-3">
                <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Search Restaurant</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <h3 style="color: #1652A3;">How to get started! </h3>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3 style="color: #1652A3;"> Step 1.<br>
              Find out if you’re eligible. </h3>
            <p class="lead mb-0">Many people don't know they are eligible to go to college until someone such as a counselor or friend lets them know. Take a short survey to see what options are available for you.</p>
            <br>
            <a class="btn btn-primary" href="#" role="button">Learn More!</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3 style="color: #1652A3;"> Step 2. <br>
              Learn about the Dream Act.</h3>
            <p class="lead mb-0">Learn about the California Dream Act and how it can open doors for you. And you can fill out a mock version of the Dream Act. This will help you see what you may need to fill out and what questions will be asked</p>
            <br>
            <a class="btn btn-primary" href="#" role="button">Learn More!</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3 style="color: #1652A3;">Step 3.<br>
              Find your AB-540 form.</h3>
            <p class="lead mb-0">Learn about AB-540 and find out which AB-540 form you will need to fill out</p>
            <br>
            <a class="btn btn-primary" href="/forms" role="button">Learn More!</a>
          </div>
        </div>
      </div>
    </div>
  </section>


