<%- contentFor('title') %>Home
<%- contentFor('body') %>

<link rel="stylesheet" href="/stylesheets/CustomHome-Page.css" />

<h1>Welcome to SF Dreamer</h1>
<a>Welcome to SF Dreamer! Follow the Steps below to learn more about the Dream Act and figure out what to do.</a>

<div class="container">
  <div class="row">

    <div class="col"><h2>Step 1</h2>
      <b>Learn About the Dream Act.</b>
      <p>The California Dream Act allows undocumented people who went to a california High School for 3 years or more, to get financial aid from the state.</p>
      <a class="btn btn-primary" href="">Learn More</a>
    </div>
    <div class="col"><h2>Step 2</h2>
      <b>Find out if you're eligible.</b>
      <p>Take this short survey to see what options are available for you.</p>
      <a class="btn btn-primary" href="">Take Survey</a>
    </div>
    <div class="col"><h2>Step 3</h2>
      <b>Learn about the application.</b>
      <p>Take the mock version of the Dream Act to learn about the forms and questions that you'll be asked in the real application.</p>
      <a class="btn btn-primary" href="">Mock App</a>
    </div>
    <div class="col"><h2>Step 4</h2>
      <b>Find your AB-540 Form.</b>
      <p>Learn about AB-540 and find out which AB-540 form you will need to fill out.</p>
      <a class="btn btn-primary" href="">Download App</a>
    </div>

  </div>
</div>
