<%- contentFor('title') %> Create New Questionnaire
<%- contentFor('body') %>



<form method="post" action="/questionnaire">
    <label for="title">Name</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="explanation">full_text</label>
    <textarea id="explanation" name="explanation" rows="10" cols="30"></textarea>
    <br>
    <button type="submit">Submit</button>
  </form>