<%- contentFor('title') %> Create a new Answer
<%- contentFor('body') %>

<h1>New answer</h1>

<form method="post" action="/answer">
    <label for="value">Answer</label>
    <input type="text" id="value" name="value">
    <br>
    <label for="next_question">next question</label>
    <input type="text" id="next_question" name="next_question">
    <br>
    <button type="submit">Submit</button>
  </form>